Options -Indexes

# Block access to all php files
<FilesMatch "\.php|\.phtml">
	Order allow,deny
	Deny from all
</FilesMatch>

# Allow access to index.php files
<Files index.php>
	Order deny,allow
	Allow from all
</Files>

# Do not change this line.

RewriteEngine on

# Do no change these lines.

RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ public/$1

# Do not change this line
RewriteRule ^(/)?$ public/index.php [L]