/*
    Document   : dscribe
    Created on : Sep 26, 2013, 9:57:53 PM
    Author     : topman
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color:#eef;
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]),
textarea
{
    min-height:30px!important;
    min-width:220px!important;
}

.element-group {
    margin-bottom: 10px;
}

.element-group.form-error,
.element-group.form-error input:not([type="submit"]):not([type="button"]),
.element-group.form-error textarea
{
    border-color:red;
    color:darkred;
}

.navbar-fixed-bottom {
    background-color:#dde!important;
    margin-bottom:0px;
}

.navbar-fixed-bottom > hr {
    margin-top:0px;
}

.navbar-fixed-bottom footer {
    margin-bottom: 20px;
}

.page-header {
	border-bottom-color: #aaa;
}