body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.zf-green {
	color: #68b604;
}

.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	background-color: #57a900;
}

.btn-success:active, .btn-success.active {
	background-color: #57a900;
}

div.container-fluid a.brand {
	background: url("../images/acada.jpg") no-repeat scroll 0 0px transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}

h1 > a, h1 > .btn-group{
	margin-left:5px!important;
	float:right!important;
}

ul.recipients {
	border:2px inset #ccc;
	margin:0px;
}

ul.recipients > li{
	display:block;
	border-bottom:1px solid #000;
	padding:5px;
}

ul.recipients > li:hover {
	background-color:#ccc;
	color:#000;
}

.removed {
	text-decoration:line-through;
	color:#ccc;
}

.ds-hidden {
	display:none!important;
}

.display {
	margin-bottom: 10px!important;
}

.dataTables_length > label > select {
	width:100px!important;
}

.ds-toggle-group {
	background-color:#eee;
	padding:5px;
	padding-top:0px!important;
	padding-bottom:0px!important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display:inline-block!important;
}

.btn-group{
	padding:0px!important;
}

.ds-toggle-group > label {
	margin:6px!important;
	padding-top:3px;
	font-weight:bold;
}

.ds-toggle.active {
	color:#ccc;
}

.table thead tr {
	background-color: #000!important;
	color:#fff!important;
}

.table td {
	font-weight:bolder;
}

#ui-datepicker-div {
	background-color:#fff!important;
	border:1px dashed #000;
}

.ui-state-highlight{
	border:1px dotted #00008b;
}

.ui-state-active {
	border:1px solid #000;
	background-color: #70d900;
}

.float-right-big {
	float:right!important;
}

.inline {
	display:inline-block;
}

.logo {
	width:200px;
}

.school-address {
	float:right;
}

.school-header .divider {
	display: none;
}

.username-area {
	font-size:24px;
	float:right;
}

.message-failed {
	color:darkred;
}

.message-success {
	color:darkgreen;
}

.dropdown-submenu > .dropdown-toggle {
	background-color: inherit!important;
	color:#333!important;
}

/**
		LETTER HEAD STYLES
*/

/* Common */
.letterHead.left .name, .letterHead.right .name {
	margin-top:25px;
	margin-bottom:20px;
}

/* Left */
.letterHead.left > .logoDiv {
	float:left;
	margin-right:10px;
}

.letterHead.left > .text {
	padding:5px;
}

/* Right */
.letterHead.right * {
	text-align: right;
}

.letterHead.right > .logoDiv {
	float:right;
	margin-left:10px;
}

.letterHead.right > .text {
	float:right;
}

/* Center Name Top */
.letterHead.center-name-top *,
.letterHead.center-name-bottom * {
	text-align:center;
}

.letterHead.center-name-top .name {
	margin-bottom: 20px;
}

.letterHead.center-name-top > .text,
.letterHead.center-name-bottom > .text {
	margin-top:15px;
}

.letterHead.center-name-top > .logoDiv,
.letterHead.center-name-top > .text,
.letterHead.center-name-bottom > .logoDiv,
.letterHead.center-name-bottom > .text {
	display:block;
}

/* General */
.letterHead {
	display:block;
	margin-top:20px;
	vertical-align: middle!important;
	padding:5px;
	min-height:150px;
}

.letterHead * {
	display:inline-block;
}

.letterHead .name {
	margin:10px 0 10px 0;
}

.letterHead .name, .letterHead .address, .letterHead .contact, .letterHead .mobile {
	display:block;
}

.letterHead .logo {
	margin-top:0px;
	max-height:150px;
}

@media screen and (max-width:980px) {
	body {
		padding-top:0!important;
	}

	.float-right-big {
		float:none!important;
	}

	.info-area {
		text-align: center;
	}

	.level-2-text {
		display:block;
		margin-top:10px;
	}

	.iSchool-welcome {
		padding-bottom:30px;
	}

	.school-header {
		text-align:center!important;
	}

	.school-header .divider {
		display: block;
	}

	.school-header .divider hr {
		margin-top:15px!important;
	}

	.school-address {
		float:none;
	}

	.username-area {
		float:none;
	}

}
